{% extends "layout.html" %}
{% block title %}{{ album.name }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ album.name }}</h1>
    {% for photo_row in album['photos']['data'] | batch(2) %}
    <div class="row">
        {% for photo in photo_row %}
        <div class="column">
                <div class="album">
                    <a href={{ photo.images[0].source }}>
                        <img src={{ photo.images[photo.medium_index].source }}>
                    </a>
                </div>
                <!--<div class="caption">{{ album.name }}</div>-->
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
