{% extends "layout.html" %}
{% block title %}{{ album.name_stripped }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ album.name_stripped }}</h1>
    {% for photo_row in album['photos']['data'] | batch(2) %}
    <div class="row">
        {% for photo in photo_row %}
        <div class="column">
            <a href="{{ photo.images[0].source }}">
                <img class="gallery-img" src="{{ photo.images[photo.medium_index].source }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
