{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block body %}
    <div class="container">
            <h1>Upcoming Events</h1>
            {% for event in events %}
            <p><b>{{ event['summary'] }}</b>: 
            {% if event.start.date %}
                {{ event.start.date }}
            {% else %}
                {{ event.start.dateTime }}
            {% endif %}</p>
            <p>{{ event['description'] }}</p>
            {% endfor %}
        </div>
{% endblock %}
