{% extends "layout.html" %}
{% block body %}
    <div class="container">
            <h1>Welcome to Avery</h1>
            <h2>A very fine house</h2>
            <p>Avery House is one of the eight undergraduate houses at Caltech. Founded in 1991, Avery served as graduate student and faculty housing until 2004, when the Faculty Advisory Board decided to allow underclassmen to rotate into Avery.</p>
            <p>Currently, we have grown to become the largest house on campus, boasting over 250 total members. We extend open arms to those that wish to join our growing Avery family.</p>
            <h2>Creativity, Integrity, Tenacity</h2>
            <p>Because of our large size, it's difficult to describe Avery with a single phrase. Instead, Avery fully embraces the diversity of its constituents.</p>
            <p>Through social events such as Open Mic Night and Faculty Dessert Night, we showcase our unique talents to the rest of campus.</p>
            <p>We regularly host house gatherings such as our annual beach and ski trips, encouraging friendship and cohesion between house members.</p>
            <p>We take pride in our acceptance and diversity, and hope that Avery will serve as a comfortable home for our members for many years to come.</p>
        </div>
{% endblock %}
