<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome{% endblock %} | Avery</title>
        {% assets 'css_all' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        {% endblock %}
    </head>
    <body>
        <main class="wrapper">
            <div class='navbar'>
                <div class="container">
                    <ul>
                        <li><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='logo_white.svg')}} "></a></li>
                        <li><a href="{{ url_for('main.gallery') }}">Gallery</a></li>
                        <li><a href="{{ url_for('main.calendar') }}">Calendar</a></li>
                        <li><a href="{{ url_for('main.government') }}">Government</a></li>
                        <div class="float-right">
                        <li><a href="{{ url_for('main.index') }}">Login</a></div></li>
                        </div>
                    </ul>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </main>
    </body>
