[Unit]
Description=Avery Website Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /srv/avery-website/avery-website.ini
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
SuccessExitStatus=15 17 29 30
Type=notify
StandardError=syslog
NotifyAccess=all
KillSignal=SIGQUIT
ProtectSystem=full
ProtectHome=True
NoNewPrivileges=yes
User=www-data
Group=www-data
WorkingDirectory=/srv/avery-website
