@charset "utf-8"


@import "../../node_modules/milligram/src/Color"

$color-primary: #111111
//$color-primary: #650201
$color-secondary: #f8f0f0
$color-accent: #9d0000
@import "../../node_modules/milligram/src/milligram.sass"
@import url('https://fonts.googleapis.com/css?family=Spectral')
@import url('https://fonts.googleapis.com/css?family=Montserrat:500')

body
    margin: 0
    background-color: $color-secondary
    color: $color-primary
    font-family: "Spectral", serif
    font-size: 2.0rem

h2
    font-style: italic
    font-size: 2.8rem

.container
    max-width: 80rem

.container-center
    text-align: center

.wrapper>.container
    padding-bottom: 5rem
    padding-top: 5rem

.album
    margin-top: 1rem

    p
        margin-bottom: 0.5rem

.navbar
    width: 100%
    background-color: $color-secondary
    color: $color-primary

    a
        font-family: Montserrat, sans-serif
        font-size: 1.4rem
        letter-spacing: 0.1rem
        text-transform: uppercase
        margin: 1rem 0
        color: $color-primary


    ul
        list-style-type: none

    .row
        border-top: .1rem solid $color-primary
        border-bottom: .1rem solid $color-primary
        margin-bottom: 0

    .column
        margin-bottom: 0
        text-align: center

    .button
        margin-top: 1rem

.navbar-fixed-top
    z-index: 1
    position: fixed
    top: -.1rem


a
    color: $color-accent
    text-decoration: none

    &:focus,
    &:hover
        color: $color-accent

.float-right
    margin-left: auto

.brand-logo
    height: 10rem

.social-logo
    max-height: 2rem

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
        font-family: "Montserrat", sans-serif
        text-transform: uppercase
        font-size: 1.4rem
        font-weight: inherit
        border-radius: 0
        height: inherit
        line-height: inherit

        &.button-outline
                background-color: transparent
                color: $color-primary

                &:focus,
                &:hover
                        background-color: $color-accent
                        border-color: $color-accent
                        color: $color-secondary

                &[disabled]

                        &:focus,
                        &:hover
                                border-color: inherit
                                color: $color-primary

        &.button-clear
                &:focus,
                &:hover
                        background-color: transparent
                        border-color: transparent
                        color: $color-accent

