@charset "utf-8"


@import "../../../node_modules/milligram/src/Color"

//$color-secondary: #4e191c
$color-secondary: #000000
$color-primary: #892c32
//$color-bg: #fcf6f6
$color-bg: #ffffff
@import "../../../node_modules/milligram/src/milligram.sass"
//@import url('https://fonts.googleapis.com/css?family=Spectral')
//@import url('https://fonts.googleapis.com/css?family=Montserrat:500')

body
    margin: 0
    font-family: "Spectral", serif
    font-size: 2.0rem
    background-color: $color-bg

h1
    font-size: 3rem

h2
    font-style: italic
    font-size: inherit

.container
    max-width: 80rem

.container-center
    text-align: center

.wrapper>.container
    padding-bottom: 3rem
    padding-top: 3rem

.album
    margin-bottom: 3rem

.button
    border-radius: 0
    font-weight: inherit
    line-height: inherit
    height: inherit


.navbar
    width: 100%
    background-color: $color-bg

    a
        font-family: Montserrat, sans-serif
        font-size: 1.4rem
        letter-spacing: 0.1rem
        text-transform: uppercase
        margin: 1rem 0

    ul
        border-top: .1rem solid $color-primary
        border-bottom: .1rem solid $color-primary
        margin-bottom: 0
        list-style-type: none
        display: flex
        flex-wrap: nowrap
        align-items: center

    li
        margin: 0 auto
        padding: 1rem

.navbar-fixed-top
    z-index: 1
    position: fixed
    top: -.1rem

.float-right
    margin-left: auto

.brand-logo
    height: 8rem

.social-logo
    max-height: 2rem
